/* Estilos para o Banner */
.banner-container {
  text-align: center; /* Centraliza o banner */
  padding: 10px 0; /* Adiciona um pouco de espaço acima e abaixo do banner */
}

.banner-container img {
  width: 50%; /* Define a largura do banner para metade do espaço disponível */
  max-width: 200px; /* Define uma largura máxima para o banner */
  height: auto; /* Mantém a proporção do banner */
  display: inline-block; /* Garante que o banner não ocupe toda a largura */
}

@media (max-width: 768px) {
  .banner-container img {
    width: 80%; /* Em dispositivos móveis, o banner pode ocupar mais espaço */
    max-width: 150px; /* Ajusta a largura máxima em dispositivos móveis */
  }
}
